<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	<title>Student's Corner</title>
</head>
<body>
	<!--Header-->
	<div class="header">
		<h2>Student's Corner - One Place for All Accomplishments <a href="/login" class="link">signin</a><a href="/register" class="link2">signup</a></div></h2>
	</div>
	<!--Searching bar-->
	     <div class="head">
		<div class="search">
			<form action="/search" method="get">
			  <input type="search" id="search-bar" name="unname"  placeholder="Search here..." size=50> <input type="submit" id="search-icon" value="Search">
			</form>
	<!--containers-->
<div class="container">
			  <div class="about">
			  <h2><center><b>ABOUT</b></center><br></h2>
			  <p>All your Acievements in one place.<br> 
			  one great place to showcase your achievements.<br>Just save your all files here.<br>A professional system highly helpful for storing all your works.</p>
		  </div>
        <div class="achieve">
	   <h2><center><b>ACHIEVEMENTS</b></h2></center><br>
	   <p>Achievements are more expensible.<br> 
		It should be essential to collect our achievements in tons of stack.<br>If you want to save all ayour achievements, then this place is for you.<br> 
		one great place to shoewwcase yoyur achievements</p>
	</div><div class="how">
		<h2><center><b>WHY ?</b></center></h2><br>
		<p>Acomplishments are more valuable one in any field<br> 
		 This platform is more interactive and highly helpful for save all your accomplishments.<br> 
		By using this method, It will imporve more your positive motivations.</p>
	 </div></div>
	</div></div>

	<div class="sections">
		<div class="features"><h2>Features</h2></div>
		
			<div id="outer">
				<div class="inner">
					<button id="edudrop" >Education</button>
					<ul>
						<li><a href="#">Education Title</a></li>
						<li><a href="#">Specialization</a></li>
						<li><a href="#">Academic Dates</a></li>
						<li><a href="#">Institute </a></li>
						<li><a href="#">CGPA/Percentage/Grade</a></li>
					  </ul>
				</div>
				<div class="inner">
					<button id="expdrop" >Experience</button>
					<ul>
						<li><a href="#">Experience Title</a></li>
						<li><a href="#">Company Title</a></li>
						<li><a href="#">Employment Title</a></li>
						<li><a href="#">Working Dates </a></li>
						<li><a href="#">Description</a></li>
						<li><a href="#">Credentials</a></li>
					  </ul>
				</div>
				<div class="inner">
					<button id="cerdrop" >Certifications</button>
					<ul>
						<li><a href="#">Certification Title</a></li>
						<li><a href="#">Organization Title</a></li>
						<li><a href="#">Issueing Dates</a></li>
						<li><a href="#">Credentials </a></li>
					
					  </ul>
				</div>
				<div class="inner">
					<button id="prodrop" >Projects</button>
					<ul>
						<li><a href="#">Project Title</a></li>
						<li><a href="#">Completed dates</a></li>
						<li><a href="#">Description</a></li>
						<li><a href="#">Credentials</a></li>
						
					  </ul>
				</div>
				<div class="inner">
					<button id="voldrop" >Volunteership</button>
					<ul>
						<li><a href="#">Volunteership Title</a></li>
						<li><a href="#">Organization Name</a></li>
						<li><a href="#">Dates of serving</a></li>
						<li><a href="#">Documents</a></li>
					</ul>
				</div>
				
			</div> 
	</div>

<div class="foot">
		
		<h4>Done by Ashwin ❤</h4>
</div>








		
			  
		  
	
	
	



		
		 


</body>
		</html>
